body{
    background-color: black;
}
.box {
    display: flex;
    margin: 0;
    min-width: 50px;
    justify-content:space-between;
    background-color:#00000a;
    /* border-bottom: 2px solid darkgray; */
}
.box__item {
    color: white;
    padding-left: 20px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    

}

.box__item:hover {
    color: coral;
}
.box__element {
    display:inline-flex;
    
  
}
/* .signOut{
    width: 300px;
    height: 100px;
    background-color: antiquewhite;
    margin-top: 20%;
    margin-left: 45%;
    display: none;
    position: absolute;
    

}
.signOut-Sure{
    list-style: none;
    display: inline-flex;
    margin-left: 60px;
    justify-content: space-between;
  


}
.signOut__Yes{
    padding-right: 56px;
    color: rgb(15, 121, 59);
    text-decoration: none;
   
}
.signOut__No {
    color: red;
}
.signOut-title {
    margin-left: 16px;
}

*/

    .boxSI-label{
    color: rgba(4, 2, 32, 0.778);
     min-width: 100px;
      
    }
    .input{
      display: flex;
     flex: 1;    
    }
     .boxSI-align{
        width: 70px;
        margin-top: 50px;
        margin-left: 170px;
     }
  
   #next {
    font-size: 16px;
    display: none;
   }
     .notification{
        color:red;
        font-size: 13px;
        min-width: 100px;
        display: inline-flex;
        display: none;
     }
     .next{
      min-width: 100px;
     text-decoration: none;
     color: black;
     font-size: 16px;
         }

     
     .next:hover{
      color: #dc4a38;
     }
     .align {
      display: inline-flex;
      

     }

  
     /* css sign up */

     .boxSU{
      height: 300px;
        width: 450px;
        background-color: beige;
        /* background-position:  bottom center; */
        /* margin-top: 40px;
        margin-left: 50%; */
        display: none;
            transform: translate(-50%,-50%);
        /* display: flex; */
        border-radius: 10px;
       position: absolute;
       z-index: 3;
       top:500px;
       left: 50%;
   
    }
    .boxSI{
        height: 300px;
        width: 450px;
        background-color: beige;
        /* background-position:  bottom center; */
        /* margin-top: 40px;
        margin-left: 50%; */
        display: none;
            transform: translate(-50%,-50%);
        /* display: flex; */
        border-radius: 10px;
       position: absolute;
       z-index: 3;
       top:500px;
       left: 50%;
   
    }
    .display{
       margin:auto;
    }
    .describe{
        margin: 0;
    }
    .notificationSU {
        display: none;
        color: red;
        font-size: 13px;
    }
    .displayResult {
        color: rgb(41, 213, 78);
        display: none ;
    }
    .nextSU{
        display: inline-flex;
    
    }
    .alignment{
      margin-top: 15px;
      margin-left: 150px;
    }
   /*java father*/

.java-father {
    width: 74%;
    height: 600px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:10% ;
    margin-top: 50px; 
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
   
 
    
}
.descripbeWeb{
    color: orange;
    font-size: 20px;
    margin-top: 17px;
}
.java-father-text__theFirst{
    width: 500px;
    height: 100px;
    color: white;
    background-color: black;
    border-radius:10px;
    margin-left: 30px;
   padding-top: 10px;
}
.java-father-text__theSecond{
    color: white;
    background-color: black;
    width: 500px;
    height: 431px;
    border-radius:10px;
    margin-left: 30px;
   padding-top: 10px;
}
.img__javaFather {
    width: 500px;
    border-radius:10px ;
}

/* js father */
.js-father {
    width: 74%;
    height: 550px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:10% ;
    margin-top: 50px; 
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
 
    
}
.descripbeWeb{
    color: orange;
    font-size: 20px;
    margin-top: 17px;
}
.js-father-text__theFirst{
    width: 500px;
    height: 100px;
    color: white;
    background-color: black;
    border-radius:10px;
    margin-left: 30px;
   padding-top: 10px;
}


.img__jsFather {
    width: 500px;
    border-radius:10px ;
}
.js-father-text__theSecond{
    color: white;
    background-color: black;
    width: 500px;
    height: 431px;
    border-radius:10px;
    margin-left: 30px;
   padding-top: 10px;
}

.linkwebRelax {
color: aliceblue;
font-size: 20px;
text-decoration: none;
}
.linkwebRelax:hover {
color: #dc4a38;
}
.note {
position: absolute;
z-index: 9;
width: 65%;
min-height: 100px;
background-color:black;
border: 2px solid darkgray;
color: #dc4a38;
left:20%;
top:95px
}